body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f5f5f5;
}

header {
    background-color: #1e1e1e;
    color: #ff9800;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #ff9800;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px; /* Smaller profile picture */
    height: 150px;
    margin-right: 30px;
    align-content: center;
    border: 3px solid #ff9800;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #1e1e1e;
    border-bottom: 1px solid #ff9800;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 50 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ff9800;
    font-weight: bold;
    padding: 1em;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 8px;
}

main {
    padding: 2em;
}

section {
    margin: 2em 0;
    border-radius: 8px;
    padding: 1em;
    color: #ff9800;
}

#bio {
    background-color: #333;
}

#skills {
    background-color: #444;
}

#projects {
    background-color: #555;
}

#contact {
    background-color: #666;
}

p {
    color: #ffffff;
    width: 200px; /* Adjust width as needed */
    display: inline;
}


footer {
    background-color: #1e1e1e;
    text-align: center;
    color: #ff9800;
    padding: 1em;
    border-top: 1px solid #ff9800;
}


.skills-table {
    border-collapse: collapse;
}

.skills-table td {
    padding: 8px;
}

.skills-table b {
    color: #ff9800; /* Orange color */
}

.skills-table td:nth-child(2) {
    color: #ffffff; /* White color */
}
